/* Animations */
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-1500px);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: translateX(1500px);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromTop {
    0% {
      transform: translateY(-1500px);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromBottom {
    0% {
      transform: translateY(1500px);
    }
  
    100% {
      transform: translateX(0);
    }
  }
