//Color Palettes
$light-color: #f4f4f4;
$primary-color: #04322e;
$secondary-color: #c93d1b;
$alert-color: #f8c43a;
$success-color: #35d0ba;
// Set text color based on bg
@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// Set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
